

/* GALLERY - Flexbox */
.media-gallery {
    display:flex;
    flex-wrap:wrap;
	.media-gallery-item {
		border:1px solid $brand_black_transparent;
		min-width:350px;
		height:300px;
		overflow:hidden;
		flex:1;
	    padding:0;
	    h1,h2,h3,h4 {
	    	z-index:1;
	    	background-color:$brand_red_transparent;
	    	padding:10px 10px;
	    	display: inline-block;
	    	a {
	    		color:#e3e3e3;
	    	}
	    }
		img {
			transition: all 0.5s;
		    width:100%;
		    filter:brightness(40%);//blur(10px);
		}
		&:hover img {
			transform:scale(1.1);
		}
		.card-img-overlay {
		    position: absolute;
		    top: 0;
		    right: 0;
		    bottom: 0;
		    left: 0;
		    padding: 1.25rem;
		    color: #e3e3e3;
		}
	}
}


/* GALLERY - Bootstrap */
.media-gallery-bs {
    // display:flex;
    // flex-wrap:wrap;
	.media-gallery-item-bs {
		border:1px solid $brand_black_transparent;
		// min-width:350px;
		height:190px;
		overflow:hidden;
		// flex:1;
	    padding:0;
	    h1,h2,h3,h4 {
	    	z-index:1;
	    	background-color:$brand_red_transparent;
	    	padding:10px 10px;
	    	display: inline-block;
	    	a {
	    		color:#e3e3e3;
	    	}
	    }
	    .card-title {
	    	font-size: 2vmin;
	    }
		img {
			transform: scale(1.7);
			transition: all 0.3s;
		    width:100%;
		    filter:brightness(40%);//blur(10px);
		}
		&:hover img {
			transform:scale(1.6);
			filter:brightness(60%);
		}
		.card-img-overlay {
		    position: absolute;
		    top: 0;
		    right: 0;
		    bottom: 0;
		    left: 0;
		    padding: 1.25rem;
		    color: #e3e3e3;
		}
	}
}






/* PAGINATION */
// .pagination>li>a, .pagination>li>span {

// }
.pagination {
	li {
		a, span {
			background-color:transparent;
			border-color:$brand_black_transparent;
			color:$brand_grey_dark;
		}
	}
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
	background-color:$brand_grey_dark;
	color:$brand_red;
	border-color:$brand_grey_dark;
}


/* GALLERY - Images */
.image-gallery {
	.image-gallery-item {
		margin-bottom:30px;
		&:hover {
			cursor: pointer;
		}
	}
}




@media (max-width: 600px) {
  .media-gallery {
    flex-direction:column;
  }

	.media-gallery-bs {
		.media-gallery-item-bs {
			min-height:100px;
			max-height:145px;
		}
	}
}

