$brand_red:#FE3F44;
$brand_red_transparent:rgba(254, 63, 68, 0.77);
$brand_grey_light:#303030;
$brand_grey_dark:#303030;
$brand_black_transparent:rgba(0, 0, 0, 0.85);
$brand_black:rgba(0, 0, 0, 0.41);
$brand_bg_color:#101010;
$brand_body_text_light:#e3e3e3;
$brand_body_text_muted:#676767;
$brand_toolbar_text_color:#e3e3e3;
$brand_notifications_color:#00b3ff;
$brand_white:#e3e3e3;
$brand_panel_color:transparent;
$brand_border_color:#141414;
$brand_well_color:rgba(64, 64, 64, 0.21);
$brand_modal_color:rgba(10, 10, 10, 0.88);


$font_family_raleway: 'Raleway';
$font_family_openSansCondensed: 'Open Sans Condensed';
$font_family_fjallaOne: 'Fjalla One';
$font_family_abel: 'Abel';


$brand_border_radius:2.5px;


/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css?family=Abel|Fjalla+One|Open+Sans+Condensed:300|Raleway');




body, html {
	background-color: $brand_bg_color;
	color: $brand_body_text_muted;
	font-family:  sans-serif;
	margin:0;

}

body {
	font-family:$font_family_abel;
	h1, h2, h3, h4, h5, h6 {
		font-family:$font_family_raleway;
	}
	h1, h2, .jumbotron h1 {
		color:$brand_red;
	}
	h1, h2, h3, h4, h5,h6 {
		// font-family:$font_family_openSansCondensed;
	}
	hr {
		border-color:$brand_grey_dark;
	}
}

a {
	color:$brand_red;
	transition:opacity 1s;
	&:hover {
		// opacity:0.8;
		text-decoration: none;
		color:$brand_body_text_light;
	}
	&:focus, &:hover {
		text-decoration: none;
		color:$brand_body_text_muted;
	}
}



.jumbotron,
.table-striped > tbody > tr:nth-child(odd) > td, 
.table-striped > tbody > tr:nth-child(odd) > th, 
.img-thumbnail,
.panel,
.well,
.progress,
.thumbnail {
	background-color:$brand_well_color;
}


/* CARDS & THUMBNAILS */
.thumbnail {
	overflow:hidden;
	border:none;
	border-right:1px solid $brand_black;
	border-bottom:1px solid $brand_black;
	.caption {
		color:#e3e3e3;
		p {
			z-index: 1000;
		}	
	}


	img {
		transform: scale(1.03);
		// transform: scale(2);
		transition:transform 0.5s;
	}
	// img:hover {
	// 	transform: scale(1.13);
	// 	// transform: scale(2.13);
	// }
}
.page-header,
.table th,
.list-group-item,
.well,
.table > thead > tr > th, .table > tbody > tr > th, 
.table > tfoot > tr > th, .table > thead > tr > td, 
.table > tbody > tr > td, .table > tfoot > tr > td, {
	border-color:$brand_well_color;
}





.navbar-fixed-top .navbar-brand {
	img {
		width:40px;
		display: inline-block;
		position:relative;
		bottom: 10px;
	}
	span {
		position: relative;
	    bottom: 1px;
	    font-size: 2em;
	}
} 



.navbar-default {
	background-color:$brand_grey_light;
	border:$brand_bg_color;
}
.navbar-inverse {
	background-color:$brand_black_transparent;
	border:$brand_bg_color;
	border-bottom:3px solid $brand_red;
	border-radius:0;
	.navbar-toggle {
		border-color:transparent;
	}
	.navbar-nav>li>a, .navbar-brand {
		color:#e3e3e3;
	}
}

.btn, .input-group-addon, .form-control, .label, .nav-pills>li>a, .nav-tabs>li>a, .navbar, .alert, .progress, .panel, .well {
  border-radius:$brand_border_radius;
}
.list-group-item:first-child {
  border-top-left-radius: $brand-border-radius;
  border-top-right-radius: $brand-border-radius;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: $brand-border-radius;
    border-bottom-left-radius: $brand-border-radius;
}


.header_banner {
	background-color: #303030;
	height: 94vh;
	text-align: center;
	background-position: center center;
	background-size: cover;
	background-image: url("http://freelabel.net/view/storage/app/media/pexels-photo-87351.jpeg");
	.background-tint {
	    background: rgba(0,0,0,0.5);
	    padding-top: 10em;
	    height: inherit;
	}
}


header.carousel {
	height:95vh !important;
}
header.carousel .fill {
    background-attachment: fixed;
}
.carousel-caption {
	h2 {
		background-color:rgba(254, 63, 68, 0.54);
		// padding:1em 2em;
		color:$brand_body_text_light;
		font-size:5vmax;
		font-weight: bold;
	    padding: 22px;
	    text-shadow: none;
	    a {
	    	color:$brand_body_text_light;
	    	border-color:$brand_body_text_light;
	    }
	}
	padding-bottom: 30vh;
}

.projects {
	padding:0;
	li {
		list-style-type:none;
	}	
} 

/* REGISTRATION PAGE */
.account-type-panel {
	border:2px solid transparent;
	.panel {
		cursor:pointer;
		border:2px solid transparent;
	}
	.price {
		font-size:3em;
		font-weight: bolder;
	}
	.price-subtitle {
		font-size:0.8em;
	}
	.active {
		border:2px solid $brand_red;
	}
}



.pricing-list {
	.row {
		padding:2em;
	}
}




/* FORMS */
.form-control-login,
.edit input {
	background: transparent;
    outline: none;
    box-shadow: none;
    border-left: 2px transparent solid;
    transition: all 1s;
	font-size: 1.5em;
	padding:0.5em;
	width:100%;
	border:2px solid transparent;
}
.form-validation-success {
	border:2px solid green;
}

.form-control {
	background-color: transparent;
    border: none;
    outline: none;
    border-radius:0px;
    box-shadow: none;
    border-left: 2px transparent solid;
    transition: all 1s;
	font-size: 1.5em;
	padding: 1em;
    &:focus {
    	border-color:transparent;
		border-left: 2px #FE3F44 solid;
		color: #e3e3e3;
		box-shadow:none;
	}
}

.edit {
	input {
		background-color:transparent;
		color:red;
	}
}

.form-signin {
	width:360px;
	margin:auto;
}




/* NAVIGATION BAR */
.nav > li > a:hover, 
.nav > li > a:focus,
.nav-tabs > li > a:hover,
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
	background-color:transparent;
	border-color:transparent;
}






.account-type-panel {
	width: 49%;
	display: inline-block;
	margin:0;
	.panel {
		transition: all 0.2s;
		text-align: center;
		&:hover {
			color:$brand_body_text_light;
		}
		&.active {
			color:$brand_body_text_light;
		}
	}
}

/* DROPDOWN MENUS */
.dropdown-menu  {
	background-color:$brand_black_transparent;
	border-radius:1px;
	width:100%;
	li a {
		color:$brand_body_text_light;
		&:hover {
			background-color:transparent;
			color:$brand_red;
		}
		&:focus {
			background-color:$brand_red;
			color:$brand_grey_dark;
		}
	}
}





.parallax {
    background-attachment: fixed;
    box-shadow: inset 0 8px 8px -8px rgba(0,0,0,.4), inset 0 -8px 8px -8px rgba(0,0,0,.4);
}

.profile {
	// img {
	// 	width: 100%;
	// }
}

.list-group-item {
	background-color:$brand_well_color;
	border-color:$brand_border_color;
}

.tracklist-header {
	display:block;
	margin-bottom:2em;
}
.tracklist-container {

}
.tracklist-panel {
	flex:1;
	padding:0em 0.5em 2em 0.5em;
	.img-responsive {
		width:100%;
	}
	.dropdown {
		background-color:$brand_well_color;
		position:relative;
		bottom:34px;
		width: 100%;
		transition:all 0.2s;
		&:hover {
			background-color:$brand_red_transparent;
		}

	}

	/* PLAY BUTTON */
	.play_button {
		background-color:$brand_red;
		border-radius:0px;
	}

	.caption, .status {
		position:relative;
		bottom:34px;
		h5 {
			font-size:1.75em;
			color:$brand_red;
		}
	}

	.btn-link {
		color:$brand_body_text_light;
	}
	.dropdown-menu {
		text-align:center;
		.btn-link {
			color:$brand_white;
			&:hover {
				color:$brand_red;
				text-decoration: none;
			}
		}
		li {
			display:inline-block;
			width:49%;
			
			.fa {
				font-size:2em;
				display:block;
			}
		}
	}
}





.categorieslist-item {
	a.active {
		color:$brand_red;
	}
	a {
		color:$brand_body_text_muted;
		&:hover {
			color:$brand_red;
		}
	}
}



/* AUDIO PLAYER TOOLBAR */
.audio-player-toolbar {
	.navbar-brand {
		font-size:1em;
	}
}




/* HIDE AT FIRST, SHOW VIA JAVASCRIPT */
// .logged-in {
// 	display:none !important;
// }

/* BUTTONS */
// .btn-link {
// 	color:$brand_red;
// }
.btn {
	transition:all 0.3s;
}
.btn:hover {
	border:1px solid $brand_well_color;
}

.btn-link {
	color:$brand_body_text_muted;
}

.btn-default {
	border-color:$brand_body_text_muted;
	&:hover, &:active, &:focus, &:active:hover, &:active:focus {
		background-color:rgb(12, 12, 12);
		color:$brand_white;
		border-color: $brand_body_text_muted;
	}
}

.btn-primary, .btn-success, .btn-default, .btn-danger, .btn-warning {
    background-color: transparent;
    color: $brand_body_text_muted;
}





/* MODALS */
.modal {
	.modal-content {
		background-color:$brand_modal_color;
	}	
}


.file_input {
    position: absolute;
    top: 56px;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 410px;
    direction: ltr;
    cursor: pointer;
    z-index: 100000;
}


/* UPLOADER */
.dashboard {
	.upload-panel {
		min-height:450px;
		display: block;
	    background-color: transparent;
	    padding: 1em;
	    border-top: red solid 1px;
	}
	.upload-trigger {
	    cursor: pointer;
	    text-align: center;
	    display: block;
	    margin: auto;
	}
	.file_input {
	    position: absolute;
	    top: 56px;
	    right: 0;
	    margin: 0;
	    opacity: 0;
	    -ms-filter: 'alpha(opacity=0)';
	    font-size: 410px;
	    direction: ltr;
	    cursor: pointer;
	    z-index: 100000;
	}
	.upload-trigger i {
	    font-size: 6em;
	}
	hr {
		border:transparent;
	}
	.progress-bar {
		background-color:$brand_red;
	}
}


.video-container {
	padding:0 0 5em 0  !important;
}






@media (max-width: 600px) {
	.container {
		padding-left:5px;
		padding-right:5px;
	}
	.tracklist-panel {
		padding-left:0;
		padding-right:0;
	}
	.caption, .status {
		position:relative;
		bottom:34px;
		h5 {
			font-size:1.75em;
			color:$brand_red;
		}
		span {
			// font-size:2em;
		}
	}
	.audio-player-toolbar {
		.navbar-brand {
			max-width:300px;
			font-size: 0.9em;
		}
	}
	.navbar-fixed-top .navbar-collapse {
		font-size:3em;
		.nav-item {
			font-size:2em;
		}
		.navbar-nav {
			height:100vh;
			max-height:100vh;
		}
		height:100vh;
		max-height:100vh;
		.navbar-nav .open .dropdown-menu>li>a {
		    line-height: 28px;
		}
	}
}