/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css?family=Abel|Fjalla+One|Open+Sans+Condensed:300|Raleway");
body, html {
  background-color: #101010;
  color: #676767;
  font-family: sans-serif;
  margin: 0; }

body {
  font-family: "Abel"; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    font-family: "Raleway"; }
  body h1, body h2, body .jumbotron h1 {
    color: #FE3F44; }
  body hr {
    border-color: #303030; }

a {
  color: #FE3F44;
  transition: opacity 1s; }
  a:hover {
    text-decoration: none;
    color: #e3e3e3; }
  a:focus, a:hover {
    text-decoration: none;
    color: #676767; }

.jumbotron,
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th,
.img-thumbnail,
.panel,
.well,
.progress,
.thumbnail {
  background-color: rgba(64, 64, 64, 0.21); }

/* CARDS & THUMBNAILS */
.thumbnail {
  overflow: hidden;
  border: none;
  border-right: 1px solid rgba(0, 0, 0, 0.41);
  border-bottom: 1px solid rgba(0, 0, 0, 0.41); }
  .thumbnail .caption {
    color: #e3e3e3; }
    .thumbnail .caption p {
      z-index: 1000; }
  .thumbnail img {
    transform: scale(1.03);
    transition: transform 0.5s; }

.page-header,
.table th,
.list-group-item,
.well,
.table > thead > tr > th, .table > tbody > tr > th,
.table > tfoot > tr > th, .table > thead > tr > td,
.table > tbody > tr > td, .table > tfoot > tr > td {
  border-color: rgba(64, 64, 64, 0.21); }

.navbar-fixed-top .navbar-brand img {
  width: 40px;
  display: inline-block;
  position: relative;
  bottom: 10px; }
.navbar-fixed-top .navbar-brand span {
  position: relative;
  bottom: 1px;
  font-size: 2em; }

.navbar-default {
  background-color: #303030;
  border: #101010; }

.navbar-inverse {
  background-color: rgba(0, 0, 0, 0.85);
  border: #101010;
  border-bottom: 3px solid #FE3F44;
  border-radius: 0; }
  .navbar-inverse .navbar-toggle {
    border-color: transparent; }
  .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
    color: #e3e3e3; }

.btn, .input-group-addon, .form-control, .label, .nav-pills > li > a, .nav-tabs > li > a, .navbar, .alert, .progress, .panel, .well {
  border-radius: 2.5px; }

.list-group-item:first-child {
  border-top-left-radius: 2.5px;
  border-top-right-radius: 2.5px; }

.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 2.5px;
  border-bottom-left-radius: 2.5px; }

.header_banner {
  background-color: #303030;
  height: 94vh;
  text-align: center;
  background-position: center center;
  background-size: cover;
  background-image: url("http://freelabel.net/view/storage/app/media/pexels-photo-87351.jpeg"); }
  .header_banner .background-tint {
    background: rgba(0, 0, 0, 0.5);
    padding-top: 10em;
    height: inherit; }

header.carousel {
  height: 95vh !important; }

header.carousel .fill {
  background-attachment: fixed; }

.carousel-caption {
  padding-bottom: 30vh; }
  .carousel-caption h2 {
    background-color: rgba(254, 63, 68, 0.54);
    color: #e3e3e3;
    font-size: 5vmax;
    font-weight: bold;
    padding: 22px;
    text-shadow: none; }
    .carousel-caption h2 a {
      color: #e3e3e3;
      border-color: #e3e3e3; }

.projects {
  padding: 0; }
  .projects li {
    list-style-type: none; }

/* REGISTRATION PAGE */
.account-type-panel {
  border: 2px solid transparent; }
  .account-type-panel .panel {
    cursor: pointer;
    border: 2px solid transparent; }
  .account-type-panel .price {
    font-size: 3em;
    font-weight: bolder; }
  .account-type-panel .price-subtitle {
    font-size: 0.8em; }
  .account-type-panel .active {
    border: 2px solid #FE3F44; }

.pricing-list .row {
  padding: 2em; }

/* FORMS */
.form-control-login,
.edit input {
  background: transparent;
  outline: none;
  box-shadow: none;
  border-left: 2px transparent solid;
  transition: all 1s;
  font-size: 1.5em;
  padding: 0.5em;
  width: 100%;
  border: 2px solid transparent; }

.form-validation-success {
  border: 2px solid green; }

.form-control {
  background-color: transparent;
  border: none;
  outline: none;
  border-radius: 0px;
  box-shadow: none;
  border-left: 2px transparent solid;
  transition: all 1s;
  font-size: 1.5em;
  padding: 1em; }
  .form-control:focus {
    border-color: transparent;
    border-left: 2px #FE3F44 solid;
    color: #e3e3e3;
    box-shadow: none; }

.edit input {
  background-color: transparent;
  color: red; }

.form-signin {
  width: 360px;
  margin: auto; }

/* NAVIGATION BAR */
.nav > li > a:hover,
.nav > li > a:focus,
.nav-tabs > li > a:hover,
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background-color: transparent;
  border-color: transparent; }

.account-type-panel {
  width: 49%;
  display: inline-block;
  margin: 0; }
  .account-type-panel .panel {
    transition: all 0.2s;
    text-align: center; }
    .account-type-panel .panel:hover {
      color: #e3e3e3; }
    .account-type-panel .panel.active {
      color: #e3e3e3; }

/* DROPDOWN MENUS */
.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 1px;
  width: 100%; }
  .dropdown-menu li a {
    color: #e3e3e3; }
    .dropdown-menu li a:hover {
      background-color: transparent;
      color: #FE3F44; }
    .dropdown-menu li a:focus {
      background-color: #FE3F44;
      color: #303030; }

/*  */
.parallax {
  background-attachment: fixed;
  box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.4), inset 0 -8px 8px -8px rgba(0, 0, 0, 0.4); }

.list-group-item {
  background-color: rgba(64, 64, 64, 0.21);
  border-color: #141414; }

/* TRACKLIST */
.tracklist-header {
  display: block;
  margin-bottom: 2em; }

.tracklist-panel {
  flex: 1;
  padding: 0em 0.5em 2em 0.5em;
  /* PLAY BUTTON */ }
  .tracklist-panel .img-responsive {
    width: 100%; }
  .tracklist-panel .dropdown {
    background-color: rgba(64, 64, 64, 0.21);
    position: relative;
    bottom: 34px;
    width: 100%;
    transition: all 0.2s; }
    .tracklist-panel .dropdown:hover {
      background-color: rgba(254, 63, 68, 0.77); }
  .tracklist-panel .play_button {
    background-color: #FE3F44;
    border-radius: 0px; }
  .tracklist-panel .caption {
    padding-top: 1em; }
  .tracklist-panel .caption, .tracklist-panel .status {
    position: relative;
    bottom: 48px; }
    .tracklist-panel .caption h5, .tracklist-panel .status h5 {
      font-size: 1.75em;
      color: #FE3F44; }
  .tracklist-panel .btn-link {
    color: #e3e3e3; }
  .tracklist-panel .dropdown-menu {
    text-align: center; }
    .tracklist-panel .dropdown-menu .btn-link {
      color: #e3e3e3; }
      .tracklist-panel .dropdown-menu .btn-link:hover {
        color: #FE3F44;
        text-decoration: none; }
    .tracklist-panel .dropdown-menu li {
      display: inline-block;
      width: 49%; }
      .tracklist-panel .dropdown-menu li .fa {
        font-size: 2em;
        display: block; }

.categorieslist-item a.active {
  color: #FE3F44; }
.categorieslist-item a {
  color: #676767; }
  .categorieslist-item a:hover {
    color: #FE3F44; }

/* AUDIO PLAYER TOOLBAR */
.audio-player-toolbar .navbar-brand {
  font-size: 1em; }

/* BUTTONS */
.btn {
  transition: all 0.3s; }

.btn:hover {
  border: 1px solid rgba(64, 64, 64, 0.21); }

.btn-link {
  color: #676767; }

.btn-default {
  border-color: #676767; }
  .btn-default:hover, .btn-default:active, .btn-default:focus, .btn-default:active:hover, .btn-default:active:focus {
    background-color: #0c0c0c;
    color: #e3e3e3;
    border-color: #676767; }

.btn-primary, .btn-success, .btn-default, .btn-danger, .btn-warning {
  background-color: transparent;
  color: #676767; }

/* MODALS */
.modal .modal-content {
  background-color: rgba(10, 10, 10, 0.88); }

.file_input {
  position: absolute;
  top: 56px;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 410px;
  direction: ltr;
  cursor: pointer;
  z-index: 100000; }

/* UPLOADER */
.dashboard .upload-panel {
  min-height: 450px;
  display: block;
  background-color: transparent;
  padding: 1em;
  border-top: red solid 1px; }
.dashboard .upload-trigger {
  cursor: pointer;
  text-align: center;
  display: block;
  margin: auto; }
.dashboard .file_input {
  position: absolute;
  top: 56px;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 410px;
  direction: ltr;
  cursor: pointer;
  z-index: 100000; }
.dashboard .upload-trigger i {
  font-size: 6em; }
.dashboard hr {
  border: transparent; }
.dashboard .progress-bar {
  background-color: #FE3F44; }

/* VIDEO PLAYER */
.video-container {
  padding: 0 0 5em 0  !important; }

.profile-header-banner {
  /* PLAY BUTTON */ }
  .profile-header-banner .play_button {
    background-color: #FE3F44;
    border-radius: 55%;
    font-size: 48px;
    width: 85px; }
    .profile-header-banner .play_button .fa {
      color: #e3e3e3; }
    .profile-header-banner .play_button .fa-play {
      position: relative;
      left: 6px;
      top: 1px; }

@media (max-width: 600px) {
  .container {
    padding-left: 5px;
    padding-right: 5px; }

  .tracklist-panel {
    padding-left: 0;
    padding-right: 0; }

  .caption, .status {
    position: relative;
    bottom: 34px; }
    .caption h5, .status h5 {
      font-size: 1.75em;
      color: #FE3F44; }

  .audio-player-toolbar .navbar-brand {
    max-width: 300px;
    font-size: 0.9em; }

  .navbar-fixed-top .navbar-collapse {
    font-size: 3em;
    height: 100vh;
    max-height: 100vh; }
    .navbar-fixed-top .navbar-collapse .nav-item {
      font-size: 2em; }
    .navbar-fixed-top .navbar-collapse .navbar-nav {
      height: 100vh;
      max-height: 100vh; }
    .navbar-fixed-top .navbar-collapse .navbar-nav .open .dropdown-menu > li > a {
      line-height: 28px; } }

/*# sourceMappingURL=app.css.map */
