title = "Projects"
url = "/projects/:page?"
layout = "freelabel400"
is_hidden = 0

[builderList]
modelClass = "Freelabel\Freelabel\Models\System"
scope = "-"
displayColumn = "blogtitle"
noRecordsMessage = "No records found"
detailsPage = "projects/project"
detailsKeyColumn = "slug"
detailsUrlParameter = "slug"
recordsPerPage = 21
pageNumber = "{{ :page }}"
sortColumn = "launch_date"
sortDirection = "desc"
==
<div class="container content">

    {% set records = builderList.records %}

{% set displayColumn = builderList.displayColumn %}

{% set noRecordsMessage = builderList.noRecordsMessage %}

{% set detailsPage = builderList.detailsPage %}

{% set detailsKeyColumn = builderList.detailsKeyColumn %}

{% set detailsUrlParameter = builderList.detailsUrlParameter %}


<style type="text/css">
    .media-gallery-item .card-img {
        transform: scale(1.4);
    }
    .media-gallery-item .card-img:hover {
        transform: scale(1.7);
    }
</style>


<h1 class="page-header">Projects</h1>

<div class="record-list projects media-gallery-bs">

    {% for record in records %}

        {% if record.status=='public' %}

    


                
                    <div class="col-md-6 media-gallery-item-bs" style="min-width: 460px;">
                        
                        
                            <div class="card card-inverse">
                            {% if record.photo %}
                              <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}"><img class="card-img" src="{{ record.photo_background |media }}" alt="{{ record.blogtitle }}"></a>
                            {% endif %}
                              <a href="{{ detailsPage|page({ (detailsUrlParameter): attribute(record, detailsKeyColumn) }) }}" class="card-img-overlay">
                                <h3 class="card-title">{{ record.blogtitle }}</h3>
                                <p class="card-text">{{ html_limit( html_strip(record.description) , 200) }}</p>
                                <p class="card-text"><small class="text-muted">{{ post.launch_date }}</small></p>
                              </a>
                            </div>
            
                    </div>
                    
            

            {% else %}
        
          {% endif %}
    {% endfor %}
    </div>
</div>




{% if records.lastPage > 1 %}
<div class="container">
    <ul class="pagination">

        {% if records.currentPage > 1 %}

            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}">&larr; Prev</a></li>

        {% endif %}



        {% for page in 1..records.lastPage %}

            <li class="{{ records.currentPage == page ? 'active' : null }}">

                <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>

            </li>

        {% endfor %}



        {% if records.lastPage > records.currentPage %}

            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}">Next &rarr;</a></li>

        {% endif %}

    </ul>
</div>
{% endif %}