title = "Project"
url = "/project/:id"
is_hidden = 0

[builderDetails]
modelClass = "Freelabel\Freelabel\Models\System"
identifierValue = "{{ :id }}"
modelKeyColumn = "id"
displayColumn = "blogtitle"
notFoundMessage = "Record not found"
==
<!DOCTYPE html>
<html>
<head>
  <title>{{ record.blogtitle }}</title>
  <meta name="description" content='FREELABEL // TV | RADIO | MAG '/>
  <meta name='twitter:card' content='summary_large_image' />
  <meta name='twitter:player' content='' />
  <meta name='twitter:player:width' content='300' />
  <meta name='twitter:player:height' content='300' />
  <meta name='twitter:image' content='http://freelabel.net{{ record.photo |media}}' />
  <meta name='twitter:site' content='http://freelabel.net/view/project/{{ record.id }}' />
  <meta name='twitter:creator' content='@freelabelnet' />
  <meta name='twitter:title' content='{{ record.blogtitle }}' />
  <meta name='twitter:text:description' content='{{ html_limit(html_strip(record.description),100) }}... | FREELABEL // TV | RADIO | MAG | Login at FREELABEL.net' />
  <meta property='og:url' content='http://freelabel.net/view/project/{{ record.id }}'>
  <meta property='og:title' content='{{ record.blogtitle }}'>
  <meta property='og:description' content='{{ html_limit(html_strip(record.description),100) }}... | FREELABEL // TV | RADIO | MAG | Login at FREELABEL.net'>
  <meta property='og:image' content='http://freelabel.net{{ record.photo |media}}'>
  <meta property='og:image:type' content='image/png'>
  <meta property='og:image:width' content='1024'>
  <meta property='og:image:height' content='1024'>
  {% partial "templates/resources" %}
</head>

<body>


{% partial "400/navigation" %}





<!-- BODY AREA -->
<!-- BODY AREA -->
<!-- BODY AREA -->


{% set record = builderDetails.record %}

{% set displayColumn = builderDetails.displayColumn %}

{% set notFoundMessage = builderDetails.notFoundMessage %}


<header class="header_banner hero-01" style="background-image:url('{{ record.photo |media}}');">

    <div class="background-tint">

        <h1>{{ record.blogtitle }}</h1>

        <p>@{{ record.twitter }}</p>

        <section class="row">
            {% if record.cta_url %}

                <a href="{{ record.cta_url }}" class="btn btn-lg btn-primary" target="_blank">{{ record.cta_button }} - ${{ record.cta_price }}</a>
                
            {% endif %}
        </section>

    </div>

</header>





<div class="container">

    {% if record %}

        <div class="page-header clearfix row">
            <div class="col-md-10"></div>
            <div class="col-md-2 btn-group">
                <button class="share-page-trigger btn btn-link pull-right" data-id="{{ record.id }}" data-title="{{ record.blogtitle }}" data-twitter="@{{ record.twitter }}" data-method="twitter"><i class="fa fa-twitter"></i> Twitter</button>
                <button class="share-page-trigger btn btn-link pull-right" data-id="{{ record.id }}" data-title="{{ record.blogtitle }}" data-twitter="@{{ record.twitter }}" data-method="facebook"><i class="fa fa-facebook"></i> Facebook</button>
            </div>
        </div>

        <p>@{{ record.twitter }}</p>

        <p>{{ record.description|raw }}</p>

        <hr>
            {% if record.cta_url %}

                <a href="{{ record.cta_url }}" class="btn btn-lg btn-primary" target="_blank">{{ record.cta_button }} - ${{ record.cta_price }}</a>

            {% endif %}
        
    {% else %}

        {{ notFoundMessage }}

    {% endif %}


</div>

<script type="text/javascript" src="http://freelabel.net/lvtr/js/dashboard.js"></script>

<!-- BODY AREA -->
<!-- BODY AREA -->
<!-- BODY AREA -->





{% partial "templates/footer" %}

</body>

</html>