==
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel='icon' type='image/png' href='http://freelabel.net/lvtr/img/fllogo.png'>
	<link rel='apple-touch-icon' sizes='180x180' type='image/png' href='http://freelabel.net/lvtr/img/favicons/apple-touch-icon.png'>
	<link rel='icon' type='image/png' href='http://freelabel.net/lvtr/img/favicons/favicon-32x32.png' sizes='32x32'>
	<link rel='icon' type='image/png' href='http://freelabel.net/lvtr/img/favicons/favicon-16x16.png' sizes='16x16'>
	<link rel='manifest' href='http://freelabel.net/lvtr/img/favicons/manifest.json'>
	<link rel="stylesheet" href="http://freelabel.net/test/hero-slider/css/reset.css"> <!-- CSS reset -->
	<link rel='mask-icon' href='http://freelabel.net/lvtr/img/favicons/safari-pinned-tab.svg' color='#5bbad5'>
	<meta name='theme-color' content='#ffffff'>

    <title>{{ this.page.title }} | FREELABEL</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-modern-business/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous"> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script> -->

    <!-- Custom CSS -->
    <link href="https://blackrockdigital.github.io/startbootstrap-modern-business/css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://blackrockdigital.github.io/startbootstrap-modern-business/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://freelabel.net/css/sass/app.css" rel="stylesheet" type="text/css">




    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    
    <script src="http://freelabel.net/lvtr/js/application.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    
    <script>
    

    function displayLoader(elem) {
      var loader = '<div class="mask-loading"><div class="spinner"><div class="double-bounce1"></div><div class="double-bounce2"></div></div></div>';
      elem.html(loader);
      $(".mask-loading").css("height", elem.height());
      $(".spinner").css("top", (elem.height() / 2) - 25);
    }

    
    </script>

</head>

<body>

    {% partial "400/navigation" %}
    
    {% partial "templates/mediaplayer" %}