==
<!DOCTYPE html>

<html>

<head>



    <script>

        //if (!document.cookie.indexOf('cookieName') >= 0) {

            document.cookie = 'resolution=' + Math.max(screen.width, screen.height) + '; path=/';

        //}</script>



    

    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="sitelanguage" content="English"/>













    

    <title>{{ this.page.title }} | Bell Helicopter</title>

        <script type="text/javascript" src="//use.typekit.net/gpx1zdm.js"></script>    <script type="text/javascript">

        try {

            Typekit.load();

        } catch (e) {

        }

    </script>

<script type="text/javascript"> var searchResultPage = "/search-results";</script>



    <link href="http://bellhelicopter.com/Presentation/includes/css/bootstrap/bootstrap.min.css" rel="stylesheet">

    <link href="http://bellhelicopter.com/Presentation/includes/css/bootstrap/bootstrap-slider.css" rel="stylesheet">

    <link href="http://ui.bellhelicopter.com/assets/fonts/ss-social-regular/webfonts/ss-social-regular.css" rel="stylesheet" type="text/css" />

    <link href="http://ui.bellhelicopter.com/assets/fonts/ss-geomicons-squared/webfonts/ss-geomicons-squared.css" rel="stylesheet" type="text/css" />

    <link href="http://ui.bellhelicopter.com/assets/fonts/ss-standard/webfonts/ss-standard.css" rel="stylesheet" type="text/css" />

    <link href="http://bellhelicopter.com/Presentation/includes/js/lib/slick.css" rel="stylesheet" type="text/css" />

    <link href="http://bellhelicopter.com/Presentation/includes/js/lib/slick-theme.css" rel="stylesheet" type="text/css" />

    <link href="http://ui.bh.com/themes/demo/assets/css/_scss/app.css" rel="stylesheet">

    <link href="http://bellhelicopter.com/Presentation/includes/css/jquery-social-stream/css/dcsns_wall.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.5/slick.css" />

    <link rel="stylesheet" type="text/css" href="http://bellhelicopter.com/Presentation/includes/js/lib/lazyYT.css" />

    



<script>

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){

  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),

  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)

  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');



  ga('create', 'UA-10221913-1', 'auto');

  ga('send', 'pageview');



</script>

<!-- begin Pardot Website Tracking code -->

<script type="text/javascript">

piAId = '132161';

piCId = '1255';



(function() {

    function async_load(){

        var s = document.createElement('script'); s.type = 'text/javascript';

        s.src = ('https:' == document.location.protocol ? 'https://pi' : 'http://cdn') + '.pardot.com/pd.js';

        var c = document.getElementsByTagName('script')[0]; c.parentNode.insertBefore(s, c);

    }

    if(window.attachEvent) { window.attachEvent('onload', async_load); }

    else { window.addEventListener('load', async_load, false); }

})();

</script>

<!-- end Pardot Website Tracking code -->







<!--  CUSTOM  -->

<!--  CUSTOM  -->

<!--  CUSTOM  -->

<script

  src="https://code.jquery.com/jquery-3.1.1.min.js"

  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="

  crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollify/1.0.5/jquery.scrollify.js"></script>

<!-- ADDED SLY FUNCTION -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/Sly/1.6.1/sly.min.js"></script>

<!--  CUSTOM  -->

<!--  CUSTOM  -->

<!--  CUSTOM  -->







</head>

<body data-spy="scroll" data-offset="60">

    <header class="nocontent">

        

<a class="ss-directup scroll-top" href="#sectionTop" id="scrollToTop" style="display: none;"></a>

<div class="navbar navbar-utility" id="sectionTop">

    <div class="container">

        <div class="collapse navbar-collapse" id="utility-nav-collapse">

            <ul class="nav navbar-nav navbar-right">

                        <li><a href="/suppliers">Suppliers</a></li>  

                        <li><a href="/company">Company</a></li>  

                        <li><a href="/careers">Careers</a></li>  

                        <li><a href="/news">News</a></li>  

                        <li><a href="/contact">Contact</a></li>  



    <li class="dropdown">

        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="ss-icon ss-standard ss-globe"></span></a>

        <ul class="dropdown-menu" role="menu">

                <li><a href="/ja-JP">日本語 (日本)</a></li>

                <li><a href="/pl-PL">polski (Polska)</a></li>

        </ul>

    </li>



            </ul>



        </div>

    </div>

</div>

<div class="navbar navbar-static-top navbar-home" role="navigation">

    <div class="navbar-home-top-wrap">

        <div class="container">

            <ul class="nav navbar-nav navbar-right">

                        <li class="hidden-xs"><a href="#" id="navCommercial">Commercial <span class="caret"></span></a></li>

                        <li class="hidden-xs"><a href="#" id="navMilitary">Military <span class="caret"></span></a></li>

                        <li class="hidden-xs"><a href="#" id="navSupportService">Support & Services <span class="caret"></span></a></li>

                        <li><a href="#" id="navSearch" class="hidden-md hidden-sm hidden-xs"><span class="ss-icon">Search</span></a></li>





                <li class="dropdown visible-xs xs-dropdown-menu">

                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="ss-icon">Rows</span></a>

                    <ul class="dropdown-menu" role="menu">

                            <li><a href="/commercial">Commercial</a></li>

                            <li><a href="/military">Military</a></li>

                            <li><a href="/support-and-service">Support & Services</a></li>

                        <li><a href="/search-results">Search</a></li>

                        <li role="presentation" class="divider"></li>

                            <li><a href="/suppliers">Suppliers</a></li>

                            <li><a href="/company">Company</a></li>

                            <li><a href="/careers">Careers</a></li>

                            <li><a href="/news">News</a></li>

                            <li><a href="/contact">Contact</a></li>

                            <li role="presentation" class="divider"></li>

    <li role="presentation" class="dropdown">

        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">

            Change Language <span class="caret"></span>

        </a>

        <ul class="dropdown-menu">

                <li><a href="/ja-JP">日本語 (日本)</a></li>

                <li><a href="/pl-PL">polski (Polska)</a></li>

        </ul>

    </li>



                    </ul>

                </li>

            </ul>



            <div class="navbar-header">

<a href='/' class='navbar-brand' target='Active Browser' >                    <img src="http://bellhelicopter.com/~/media/bell/images/navigation/logohires.ashx" alt="LogoHiRes">

</a>            </div>

        </div><!--/.navbar-collapse -->

    </div>

    <div class="navbar-search hidden-xs">

        <div class="container">

            <div class="row">

                <div class="col-md-5 col-md-offset-7">

                    <div class="search-form">

                        <div class="input-group">

                            <input class="form-control" name="q" data-lang="English" type="search" placeholder="Search for...">

                            <span class="input-group-btn">

                                <button class="btn btn-primary globalSearch" type="button"><span class="ss-icon">Search</span></button>

                            </span>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

<div class="navbar-super hidden-xs" id="navBarSuperCommercial">

    <div class="container">

        <div class="row">

            <div class="col-sm-3 navbar-subnav" style="padding-right: 0;">

                <ul class="navbar-subnav-menu">

                    <li class="navbar-subnav-heading"><span class="hidden-lg hidden-md">Commercial</span><span class="hidden-sm">Commercial Aircraft</span></li>

                                <li><a data-id="mega-Bell206L4">Bell 206L4</a></li>

                                <li><a data-id="mega-Bell407GXP">Bell 407GXP</a></li>

                                <li><a data-id="mega-Bell412EP">Bell 412EP</a></li>

                                <li><a data-id="mega-Bell412EPI">Bell 412EPI</a></li>

                                <li><a data-id="mega-Bell429">Bell 429</a></li>

                                <li><a data-id="mega-Bell429WLG">Bell 429WLG</a></li>

                                <li><a data-id="mega-Bell505JetRangerX">Bell 505 Jet Ranger X</a></li>

                                <li><a data-id="mega-Bell525Relentless">Bell 525 Relentless</a></li>

                                <li><a data-id="mega-BellHueyII">Bell Huey II</a></li>

                                <li><a href="/commercial/pre-owned">Pre-Owned Aircraft</a></li>

                    <li><a href="/commercial" class="nav-super-more">All Commercial &raquo;</a></li>

                </ul>

            </div>



                    <a class="navlink" href="/commercial/bell-206l4">

                        <div class="col-sm-9 navbar-hero-wrap" id="mega-Bell206L4" style="padding-left: 0; ">

                            <div class="navbar-hero-image" style="background-image: url('http://bellhelicopter.com/~/media/bell/images/navigation/tab-headers/206l4_website-headers.ashx');">

                                <div class="navbar-hero-text">

                                    <div class=" btn btn-default pull-right">Learn More</div>

                                    <h1>Bell 206L4</h1>

                                    <p>Reliability Meets Proven Capability</p>

                                    <br>

                                    <div class="row feature-spotlight">



                                    <div class="col-md-2 col-sm-3 col-xs-6 text-center">

                                        <div class="ss-icon  ss-geomicons-squared ss-downloadbox text-large"></div>

                                        2,119 lbs. Useful Load

                                    </div>

                                    <div class="col-md-2 col-sm-3 col-xs-6 text-center">

                                        <div class="ss-icon  ss-geomicons-squared ss-navigate text-large"></div>

                                        325 nm Max Range

                                    </div>

                                    <div class="col-md-2 col-sm-3 col-xs-6 text-center">

                                        <div class="ss-icon  ss-geomicons-squared ss-usergroup text-large"></div>

                                        6 Passengers

                                    </div>

                                    </div>

                                </div>

                            </div>

                        </div>



                    </a>

                    <a class="navlink" href="/commercial/bell-407gxp">

                        <div class="col-sm-9 navbar-hero-wrap" id="mega-Bell407GXP" style="padding-left: 0; display:none;">

                            <div class="navbar-hero-image" style="background-image: url('http://bellhelicopter.com/~/media/bell/images/navigation/tab-headers/407gxp_website-headers.ashx');">

                                <div class="navbar-hero-text">

                                    <div class=" btn btn-default pull-right">Learn More</div>

                                    <h1>Bell 407GXP</h1>

                                    <p>Superior Performance Reaches a Higher Level</p>

                                    <br>

                                    <div class="row feature-spotlight">



                                    <div class="col-md-2 col-sm-3 col-xs-6 text-center">

                                        <div class="ss-icon  ss-geomicons-squared ss-dashboard text-large"></div>

                                        140 kts Max Speed

                                    </div>

                                    <div class="col-md-2 col-sm-3 col-xs-6 text-center">

                                        <div class="ss-icon  ss-geomicons-squared ss-downloadbox text-large"></div>

                                        2,558 lbs. Useful Load (IGW)

                                    </div>

                                    <div class="col-md-2 col-sm-3 col-xs-6 text-center">

                                        <div class="ss-icon  ss-geomicons-squared ss-usergroup text-large"></div>

                                        6 Passengers

                                    </div>

                                    </div>

                                </div>

                            </div>

                        </div>



                    </a>

                    <a class="navlink" href="/commercial/bell-412ep">

                        <div class="col-sm-9 navbar-hero-wrap" id="mega-Bell412EP" style="padding-left: 0; display:none;">

                            <div class="navbar-hero-image" style="background-image: url('http://bellhelicopter.com/~/media/bell/images/navigation/tab-headers/412ep_website-headers.ashx');">

                                <div class="navbar-hero-text">

                                    <div class=" btn btn-default pull-right">Learn More</div>

                                    <h1>Bell 412EP</h1>

                                    <p>A daily workhorse in the most extreme climates on the planet</p>

                                    <br>

                                    <div class="row feature-spotlight">



                                    <div class="col-md-2 col-sm-3 col-xs-6 text-center">

                                        <div class="ss-icon  ss-geomicons-squared ss-downloadbox text-large"></div>

                                        5,100 lbs. Useful Load

                                    </div>

                                    <div class="col-md-2 col-sm-3 col-xs-6 text-center">

                                        <div class="ss-icon  ss-geomicons-squared ss-navigate text-large"></div>

                                        357 nm Max Range

                                    </div>

                                    <div class="col-md-2 col-sm-3 col-xs-6 text-center">

                                        <div class="ss-icon  ss-geomicons-squared ss-usergroup text-large"></div>

                                        14 Passengers

                                    </div>

                                    </div>

                                </div>

                            </div>

                        </div>



                    </a>

                    <a class="navlink" href="/commercial/bell-412epi">

                        <div class="col-sm-9 navbar-hero-wrap" id="mega-Bell412EPI" style="padding-left: 0; display:none;">

                            <div class="navbar-hero-image" style="background-image: url('http://bellhelicopter.com/~/media/bell/images/navigation/tab-headers/412epi_website-headers.ashx');">

                                <div class="navbar-hero-text">

                                    <div class=" btn btn-default pull-right">Learn More</div>

                                    <h1>Bell 412EPI</h1>

                                    <p>The 412EPI goes digital with the Bell BasiX-Pro™ Flight Deck. </p>

                                    <br>

                                    <div class="row feature-spotlight">



                                    <div class="col-md-2 col-sm-3 col-xs-6 text-center">

                                        <div class="ss-icon  ss-geomicons-squared ss-downloadbox text-large"></div>

                                        4,829 lbs. Useful Load

                                    </div>

                                    <div class="col-md-2 col-sm-3 col-xs-6 text-center">

                                        <div class="ss-icon  ss-geomicons-squared ss-navigate text-large"></div>

                                        364 nm Max Range

                                    </div>

                                    <div class="col-md-2 col-sm-3 col-xs-6 text-center">

                                        <div class="ss-icon  ss-geomicons-squared ss-usergroup text-large"></div>

                                        14 Passengers

                                    </div>

                                    </div>

                                </div>

                            </div>

                        </div>



                    </a>

                    <a class="navlink" href="/commercial/bell-429">

                        <div class="col-sm-9 navbar-hero-wrap" id="mega-Bell429" style="padding-left: 0; display:none;">

                            <div class="navbar-hero-image" style="background-image: url('http://bellhelicopter.com/~/media/bell/images/navigation/tab-headers/429_website-headers.ashx');">

                                <div class="navbar-hero-text">

                                    <div class=" btn btn-default pull-right">Learn More</div>

                                    <h1>Bell 429</h1>

                                    <p>Exceptional Speed, Range and Performance</p>

                                    <br>

                                    <div class="row feature-spotlight">



                                    <div class="col-md-2 col-sm-3 col-xs-6 text-center">

                                        <div class="ss-icon  ss-geomicons-squared ss-dashboard text-large"></div>

                                        150 kts Max Cruise

                                    </div>

                                    <div class="col-md-2 col-sm-3 col-xs-6 text-center">

                                        <div class="ss-icon  ss-geomicons-squared ss-briefcase text-large"></div>

                                        204 ft³ Cabin Volume

                                    </div>

                                    <div class="col-md-2 col-sm-3 col-xs-6 text-center">

                                        <div class="ss-icon  ss-geomicons-squared ss-usergroup text-large"></div>

                                        7 Passengers

                                    </div>

                                    </div>

                                </div>

                            </div>

                        </div>



                    </a>

                    <a class="navlink" href="/commercial/bell-429wlg">

                        <div class="col-sm-9 navbar-hero-wrap" id="mega-Bell429WLG" style="padding-left: 0; display:none;">

                            <div class="navbar-hero-image" style="background-image: url('http://bellhelicopter.com/~/media/bell/images/navigation/tab-headers/429wlg_website-headers.ashx');">

                                <div class="navbar-hero-text">

                                    <div class=" btn btn-default pull-right">Learn More</div>

                                    <h1>Bell 429WLG</h1>

                                    <p>Superb Performance with Sleek Design</p>

                                    <br>

                                    <div class="row feature-spotlight">



                                    <div class="col-md-2 col-sm-3 col-xs-6 text-center">

                                        <div class="ss-icon  ss-geomicons-squared ss-dashboard text-large"></div>

                                        154 kts Max Cruise

                                    </div>

                                    <div class="col-md-2 col-sm-3 col-xs-6 text-center">

                                        <div class="ss-icon  ss-geomicons-squared ss-wrench text-large"></div>

                                        Retractable Landing Gear

                                    </div>

                                    <div class="col-md-2 col-sm-3 col-xs-6 text-center">

                                        <div class="ss-icon  ss-geomicons-squared ss-usergroup text-large"></div>

                                        7 Passengers

                                    </div>

                                    </div>

                                </div>

                            </div>

                        </div>



                    </a>

                    <a class="navlink" href="/commercial/bell-505">

                        <div class="col-sm-9 navbar-hero-wrap" id="mega-Bell505JetRangerX" style="padding-left: 0; display:none;">

                            <div class="navbar-hero-image" style="background-image: url('http://bellhelicopter.com/~/media/bell/images/navigation/tab-headers/505_website-headers.ashx');">

                                <div class="navbar-hero-text">

                                    <div class=" btn btn-default pull-right">Learn More</div>

                                    <h1>Bell 505 Jet Ranger X</h1>

                                    <p>Best in Class Combination of Payload, Speed and Range</p>

                                    <br>

                                    <div class="row feature-spotlight">



                                    <div class="col-md-2 col-sm-3 col-xs-6 text-center">

                                        <div class="ss-icon  ss-geomicons-squared ss-dashboard text-large"></div>

                                        125+ kts Max Cruise

                                    </div>

                                    <div class="col-md-2 col-sm-3 col-xs-6 text-center">

                                        <div class="ss-icon  ss-geomicons-squared ss-downloadbox text-large"></div>

                                        1,500 lbs. Useful Load

                                    </div>

                                    <div class="col-md-2 col-sm-3 col-xs-6 text-center">

                                        <div class="ss-icon  ss-geomicons-squared ss-usergroup text-large"></div>

                                        4 Passengers

                                    </div>

                                    </div>

                                </div>

                            </div>

                        </div>



                    </a>

                    <a class="navlink" href="/commercial/bell-525">

                        <div class="col-sm-9 navbar-hero-wrap" id="mega-Bell525Relentless" style="padding-left: 0; display:none;">

                            <div class="navbar-hero-image" style="background-image: url('http://bellhelicopter.com/~/media/bell/images/navigation/tab-headers/525_website-headers.ashx');">

                                <div class="navbar-hero-text">

                                    <div class=" btn btn-default pull-right">Learn More</div>

                                    <h1>Bell 525 Relentless</h1>

                                    <p>Best in Class Payload, Range, Cabin and Mission Capability</p>

                                    <br>

                                    <div class="row feature-spotlight">



                                    <div class="col-md-2 col-sm-3 col-xs-6 text-center">

                                        <div class="ss-icon  ss-geomicons-squared ss-dashboard text-large"></div>

                                        162 kts Max Cruise

                                    </div>

                                    <div class="col-md-2 col-sm-3 col-xs-6 text-center">

                                        <div class="ss-icon  ss-geomicons-squared ss-navigate text-large"></div>

                                        570 nm Max Range

                                    </div>

                                    <div class="col-md-2 col-sm-3 col-xs-6 text-center">

                                        <div class="ss-icon  ss-geomicons-squared ss-usergroup text-large"></div>

                                        Up to 20 Passengers

                                    </div>

                                    </div>

                                </div>

                            </div>

                        </div>



                    </a>

                    <a class="navlink" href="/commercial/bell-huey-ii">

                        <div class="col-sm-9 navbar-hero-wrap" id="mega-BellHueyII" style="padding-left: 0; display:none;">

                            <div class="navbar-hero-image" style="background-image: url('http://bellhelicopter.com/~/media/bell/images/navigation/tab-headers/hueyii_website-headers.ashx');">

                                <div class="navbar-hero-text">

                                    <div class=" btn btn-default pull-right">Learn More</div>

                                    <h1>Bell Huey II</h1>

                                    <p></p>

                                    <br>

                                    <div class="row feature-spotlight">



                                    <div class="col-md-2 col-sm-3 col-xs-6 text-center">

                                        <div class="ss-icon  ss-geomicons-squared ss-downloadbox text-large"></div>

                                        4,873 lbs. Useful Load

                                    </div>

                                    <div class="col-md-2 col-sm-3 col-xs-6 text-center">

                                        <div class="ss-icon  ss-geomicons-squared ss-briefcase text-large"></div>

                                        220 ft³ Cabin Volume

                                    </div>

                                    <div class="col-md-2 col-sm-3 col-xs-6 text-center">

                                        <div class="ss-icon  ss-geomicons-squared ss-usergroup text-large"></div>

                                        1+14 Max Seating

                                    </div>

                                    </div>

                                </div>

                            </div>

                        </div>



                    </a>

        </div>

    </div>

</div>

<div class="navbar-super hidden-xs" id="navBarSuperMilitary">

    <div class="container">

        <div class="row">

            <div class="col-sm-3 navbar-subnav" style="padding-right: 0;">

                <ul class="navbar-subnav-menu">

                    <li class="navbar-subnav-heading"><span class="hidden-lg hidden-md">Military</span><span class="hidden-sm">Military Aircraft</span></li>

                            <li><a data-id="mega-BellBoeingV22Osprey" id="military">Bell Boeing V-22 Osprey</a></li>

                            <li><a data-id="mega-BellAH1Z" id="military">Bell AH-1Z</a></li>

                            <li><a data-id="mega-BellV280Valor" id="military">Bell V-280 Valor</a></li>

                            <li><a data-id="mega-BellUH1Y" id="military">Bell UH-1Y</a></li>

                    <li><a href="/military" class="nav-super-more">All Military &raquo;</a></li>

                </ul>

            </div>

                    <a class="navlink" href="/military/bell-boeing-v-22" >

                        <div class="col-sm-9 navbar-hero-wrap" id="mega-BellBoeingV22Osprey" style="padding-left: 0; ">

                            <div class="navbar-hero-image" style="background-image: url('http://bellhelicopter.com/~/media/bell/images/navigation/tab-headers/mv-22_website-header.ashx');">

                                <div class="navbar-hero-text">

                                    <div class="btn btn-default pull-right">Learn More</div>

                                    <h1>Bell Boeing V-22 Osprey</h1>

                                    <p>The V-22 redefines operational possibilities </p>

                                    <br>

                                    <div class="row feature-spotlight">

                                            <div class="col-md-2 col-sm-3 col-xs-6 text-center">

                                                <div class="ss-icon ss-geomicons-squared ss-dashboard text-large"></div>

                                                266 kts Max Cruise

                                            </div>

                                            <div class="col-md-2 col-sm-3 col-xs-6 text-center">

                                                <div class="ss-icon ss-geomicons-squared ss-navigate text-large"></div>

                                                24,000 ft Service Ceiling

                                            </div>

                                            <div class="col-md-2 col-sm-3 col-xs-6 text-center">

                                                <div class="ss-icon ss-geomicons-squared ss-usergroup text-large"></div>

                                                24 Troop Seats

                                            </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </a>

                    <a class="navlink" href="/military/bell-ah-1z" >

                        <div class="col-sm-9 navbar-hero-wrap" id="mega-BellAH1Z" style="padding-left: 0; display:none;">

                            <div class="navbar-hero-image" style="background-image: url('http://bellhelicopter.com/~/media/bell/images/navigation/tab-headers/ah-1z_website-header.ashx');">

                                <div class="navbar-hero-text">

                                    <div class="btn btn-default pull-right">Learn More</div>

                                    <h1>Bell AH-1Z</h1>

                                    <p>The most advanced attack helicopter in the world.</p>

                                    <br>

                                    <div class="row feature-spotlight">

                                            <div class="col-md-2 col-sm-3 col-xs-6 text-center">

                                                <div class="ss-icon ss-geomicons-squared ss-dashboard text-large"></div>

                                                200 KIAS Max Speed

                                            </div>

                                            <div class="col-md-2 col-sm-3 col-xs-6 text-center">

                                                <div class="ss-icon ss-geomicons-squared ss-crosshair text-large"></div>

                                                131 nm Combat Radius

                                            </div>

                                            <div class="col-md-2 col-sm-3 col-xs-6 text-center">

                                                <div class="ss-icon ss-geomicons-squared ss-usergroup text-large"></div>

                                                2 Pilots

                                            </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </a>

                    <a class="navlink" href="/military/bell-v-280" >

                        <div class="col-sm-9 navbar-hero-wrap" id="mega-BellV280Valor" style="padding-left: 0; display:none;">

                            <div class="navbar-hero-image" style="background-image: url('http://bellhelicopter.com/~/media/bell/images/navigation/tab-headers/v-280_website-header.ashx');">

                                <div class="navbar-hero-text">

                                    <div class="btn btn-default pull-right">Learn More</div>

                                    <h1>Bell V-280 Valor</h1>

                                    <p>Twice the speed, twice the range of current helicopters</p>

                                    <br>

                                    <div class="row feature-spotlight">

                                            <div class="col-md-2 col-sm-3 col-xs-6 text-center">

                                                <div class="ss-icon ss-geomicons-squared ss-crosshair text-large"></div>

                                                500-800nm Combat Range

                                            </div>

                                            <div class="col-md-2 col-sm-3 col-xs-6 text-center">

                                                <div class="ss-icon ss-geomicons-squared ss-dashboard text-large"></div>

                                                280 KTAS

                                            </div>

                                            <div class="col-md-2 col-sm-3 col-xs-6 text-center">

                                                <div class="ss-icon ss-geomicons-squared ss-usergroup text-large"></div>

                                                4 Crew & 14 Troops

                                            </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </a>

                    <a class="navlink" href="/military/bell-uh-1y" >

                        <div class="col-sm-9 navbar-hero-wrap" id="mega-BellUH1Y" style="padding-left: 0; display:none;">

                            <div class="navbar-hero-image" style="background-image: url('http://bellhelicopter.com/~/media/bell/images/navigation/tab-headers/uh-1y_website-header.ashx');">

                                <div class="navbar-hero-text">

                                    <div class="btn btn-default pull-right">Learn More</div>

                                    <h1>Bell UH-1Y</h1>

                                    <p>The utility helicopter built on a rich history with 21st century technology</p>

                                    <br>

                                    <div class="row feature-spotlight">

                                            <div class="col-md-2 col-sm-3 col-xs-6 text-center">

                                                <div class="ss-icon ss-geomicons-squared ss-dashboard text-large"></div>

                                                170 KIAS Max Speed

                                            </div>

                                            <div class="col-md-2 col-sm-3 col-xs-6 text-center">

                                                <div class="ss-icon ss-geomicons-squared ss-crosshair text-large"></div>

                                                119 nm Combat Radius

                                            </div>

                                            <div class="col-md-2 col-sm-3 col-xs-6 text-center">

                                                <div class="ss-icon ss-geomicons-squared ss-usergroup text-large"></div>

                                                2 Crew and 8 Passenger Seats

                                            </div>

                                    </div>

                                </div>

                            </div>

                        </div>

                    </a>



        </div>

    </div>

</div>

<div class="navbar-super hidden-xs nav-super" id="navBarSuperCSS">

    <div class="container">

        <div class="row">

            <div class="col-sm-3 navbar-subnav">

                <ul class="navbar-subnav-menu">

                    <li class="navbar-subnav-heading"><span class="hidden-sm">Customer</span> Support & Services</li>



                            <li><a href="/support-and-service/support">Support</a></li>

                            <li><a href="/support-and-service/services">Services</a></li>

                            <li><a href="/support-and-service/training">Training</a></li>

                            <li><a href="/support-and-service/services/customer-advantage-plans">Customer Advantage Plans</a></li>

                            <li><a href="https://bellportal.textron.com/">Customer Portal</a></li>

                            <li><a href="/knowledgebase">Knowledgebase</a></li>



                    <li><a href="/support-and-service" class="nav-super-more">More &raquo;</a></li>

                </ul>

            </div>

                <div class="col-sm-3 nav-super-item" data-url="/support-and-service/support">

                    <div class="nav-super-image" style="background-image: url('http://bellhelicopter.com/~/media/bell/images/navigation/css/support.ashx');">

                        <div class="nav-super-image-overlay">

                        </div>

                    </div>

                    <span class="ss-icon  ss-geomicons-squared ss-chat"></span>

                    <div class="nav-super-title">Support</div>

                    <div class="nav-super-sub">Find contact information for your local Customer Service Facility and Bell Technical Support.</div>

                </div>

                <div class="col-sm-3 nav-super-item" data-url="/support-and-service/services">

                    <div class="nav-super-image" style="background-image: url('http://bellhelicopter.com/~/media/bell/images/navigation/css/services.ashx');">

                        <div class="nav-super-image-overlay">

                        </div>

                    </div>

                    <span class="ss-icon  ss-geomicons-squared ss-settings"></span>

                    <div class="nav-super-title">Services</div>

                    <div class="nav-super-sub">Easy access to parts, technical publications, bulletins and information on our other services.</div>

                </div>

                <div class="col-sm-3 nav-super-item" data-url="/support-and-service/training">

                    <div class="nav-super-image" style="background-image: url('http://bellhelicopter.com/~/media/bell/images/navigation/css/training.ashx');">

                        <div class="nav-super-image-overlay">

                        </div>

                    </div>

                    <span class="ss-icon  ss-geomicons-squared ss-clipboard"></span>

                    <div class="nav-super-title">Training</div>

                    <div class="nav-super-sub">Learn about and register for classes at the premier Bell Helicopter Training Academy.</div>

                </div>

        </div>

    </div>

</div>



</div>

    </header>



    {% page %}





    <footer class="nocontent">

        

<div class="footer-wrapper">

    <div class="container">

        <footer>

            <div class="row">

                <div class="col-md-4 col-sm-12">

                    <div class="form-group">

                        <div class="input-group">

                            <input class="form-control" name="qFooter" data-lang="English" type="search" placeholder="Search for...">

                            <div class="input-group-addon"><span class="ss-icon globalSearch" style="top: 3px; position: relative; cursor: pointer;">&#x1F50E;</span></div>

                        </div>

                    </div>

                    

<h4>Connect with us</h4>

<p>

            <a href="https://www.facebook.com/bellhelicopter" class="ss-icon ss-social-regular ss-facebook"></a>

            <a href="https://twitter.com/one_bell" class="ss-icon ss-social-regular ss-twitter"></a>

            <a href="https://www.youtube.com/user/TheBellHelicopter" class="ss-icon ss-social-regular ss-youtube"></a>

</p>





                </div>

               

                <div class="col-md-2 col-sm-6">

                    <h4>Aircraft</h4>

                    <ul>

                            <li><a href="/commercial">All Commercial</a></li>

                            <li><a href="/military">All Military</a></li>

                            <li><a href="/support-and-service/support/css-directory/customer-sales-and-support">Sales Reps</a></li>

                            <li><a href="/~/media/bell/documents/legal/pc-100sw-plrdec-14-2015.ashx">Product Certification</a></li>

                    </ul>

                </div>

                <div class="col-md-2 col-sm-6">

                    <h4>Company</h4>

                    <ul>

                            <li><a href="/careers">Careers</a></li>

                            <li><a href="/company/community-programs">Community Programs</a></li>

                            <li><a href="/contact">Contact</a></li>

                            <li><a href="/knowledgebase">Knowledgebase</a></li>

                            <li><a href="/news">News</a></li>

                    </ul>

                </div>

                <div class="col-md-2 col-sm-6">

                    <h4>Customers</h4>

                    <ul>

                            <li><a href="/support-and-service/support/css-directory/customer-sales-and-support">Customer Support & Services Directory</a></li>

                            <li><a href="/support-and-service/services">Services</a></li>

                            <li><a href="/support-and-service/support">Support</a></li>

                            <li><a href="/support-and-service/training">Training</a></li>

                    </ul>

                </div>

                <div class="col-md-2 col-sm-6">

                    <h4>Legal</h4>

                    <ul>

                            <li><a href="/legal">Business Conduct and Privacy Statement</a></li>

                            <li><a href="/legal/copyright-notice">Copyright Notice</a></li>

                            <li><a href="/legal/terms-of-use">Terms of Use</a></li>

                            <li><a href="/legal/ca-transparency-in-suppliers-act">CA Transparency in Suppliers Act</a></li>

                    </ul>

                </div>

            </div>

            <hr>

            <p class="copy">Copyright 2016 Bell Helicopter Textron Inc.</p>

        </footer>

    </div>

</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>



<!-- Include all compiled plugins (below), or include individual files as needed -->

<script src="http://bellhelicopter.com/Presentation/includes/js/lib/jquery.scrollTo.min.js"></script>

<script src="http://bellhelicopter.com/Presentation/includes/js/bootstrap/bootstrap.min.js"></script>

<script src="http://bellhelicopter.com/Presentation/includes/js/lib/sticky.js"></script>

<script src="http://bellhelicopter.com/Presentation/includes/js/bootstrap/bootstrap-slider.js"></script>

<script src="http://bellhelicopter.com/Presentation/includes/js/lib/jquery.cookie.js"></script>

<script src="http://bellhelicopter.com/Presentation/includes/js/jquery-social-stream/js/jquery.social.stream.wall.1.6.js"></script>

<script src="http://bellhelicopter.com/Presentation/includes/js/jquery-social-stream/js/jquery.social.stream.1.5.11.min.js"></script>

<script src="http://bellhelicopter.com/Presentation/includes/js/lib/slick.min.js" type="text/javascript"></script>

<script src="http://bellhelicopter.com/Presentation/includes/js/lib/lazyYT.js" type="text/javascript"></script>



<!-- Leave this outside of script files. Do not place any script files before this -->

<script>

    var $j = jQuery.noConflict();

</script>

<script type="text/javascript" src="http://bellhelicopter.com/Presentation/includes/js/lib/bellhelicopter.search.js"></script>

<script type="text/javascript" src="http://bellhelicopter.com/Presentation/includes/js/lib/bellhelicopter.search.news.js"></script>

<script type="text/javascript" src="http://bellhelicopter.com/Presentation/includes/js/lib/bellhelicopter.contact.js"></script>

<script type="text/javascript" src="http://bellhelicopter.com/Presentation/includes/js/lib/bellhelicopter.herocarousel.js"></script>

<script type="text/javascript" src="http://ui.bh.com/themes/demo/assets/javascript/bellhelicopter.site.js"></script>

<!-- 

<script>

    var frenchRedirectURL = "http://fr.bellhelicopter.com/";

</script> -->

<!-- <script type="text/javascript" src="http://bellhelicopter.com/Presentation/includes/js/lib/bellhelicopter.frenchredirect.js"></script> -->



    </footer>

</body>

</html>