title = "Radio"
url = "/radio"
layout = "freelabel400"
is_hidden = 0

[builderList]
modelClass = "Freelabel\Freelabel\Models\Radioshows"
scope = "-"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% set records = builderList.records %}
{% set displayColumn = builderList.displayColumn %}
{% set noRecordsMessage = builderList.noRecordsMessage %}
{% set detailsPage = builderList.detailsPage %}
{% set detailsKeyColumn = builderList.detailsKeyColumn %}
{% set detailsUrlParameter = builderList.detailsUrlParameter %}


<style>

    .radio-img {
         width:100%;
    }

</style>

<div class="container ">
	<h1 class="page-header">Radio <small>24/7 Streaming Broadcast</small></h1>

	<!-- <audio src="http://streaming.radio.co/s95fa8cba2/listen" controls="1"></audio> -->
	<div class="row">
		<div class="col-md-4">
			<script src="https://embed.radio.co/player/35a5c8b.js"></script>
		</div>
		<div class="col-md-8">
			<h2>Radio Schedule</h2>
			<div class="radio-schedule-list">

                <ul class="record-list list-group">
                    {% for record in records %}
                        <li class="list-group-item row">
                            <div class="col-md-3">
                                <img src="{{ record.photo |media}}" class="radio-img">
                            </div>
                                
                            <div class="col-md-9">
                                <h3>{{ record.title}} <span class="label label-default hidden">New</span></h3>
                                <p>{{ record.description }}</p>
                            </div>  
                        </li>
                    {% else %}
                        <li class="no-data">{{ noRecordsMessage }}</li>
                    {% endfor %}
                </ul>

                {% if records.lastPage > 1 %}
                    <ul class="pagination">
                        {% if records.currentPage > 1 %}
                            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage-1) }) }}">&larr; Prev</a></li>
                        {% endif %}
                
                        {% for page in 1..records.lastPage %}
                            <li class="{{ records.currentPage == page ? 'active' : null }}">
                                <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
                            </li>
                        {% endfor %}
                
                        {% if records.lastPage > records.currentPage %}
                            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (records.currentPage+1) }) }}">Next &rarr;</a></li>
                        {% endif %}
                    </ul>
                {% endif %}
			</div>
		</div>
	</div>

    <div class="row">
        <h2 class="page-header">Recently Uploaded Songs</h2>
        <div class="radio-playlist"></div> 
    </div>

</div>

<script>

	$(function() {
		$.get('http://freelabel.net/lvtr/views/player.php',function(result){
			$('.radio-playlist').html(result);
		});
	});

</script>