==
<header class="header_banner hero-01" style="background-image:url('http://freelabel.net/{{ record.photo_background |media }}');">

    <div class="background-tint">

        <h1>{{ record.blogtitle }}</h1>
        
        {% if record.cta_url %}
            <section class="row">
                    <a href="{{ record.cta_url }}" class="btn btn-lg btn-primary" target="_blank">{{ record.cta_button }} - ${{ record.cta_price }}</a>
            </section>
        {% endif %}

    </div>

</header>