==
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="font-size: 24px;" href="http://freelabel.net/">{{record.blogtitle}}</a>
        </div>
        <div>
            <ul class="nav navbar-nav visible-xs">
                <li><a class="share-page-trigger btn btn-link" data-id="{{record.id}}" data-title="{{record.blogtitle}} {{record.hashtag}}" data-twitter="{{record.twitter}}" data-method="twitter"><i class="fa fa-twitter"></i> Twitter</a></li>
                <li><a class="share-page-trigger btn btn-link" data-id="{{record.id}}" data-title="{{record.blogtitle}} {{record.hashtag}}" data-twitter="{{record.twitter}}" data-method="facebook"><i class="fa fa-facebook"></i> Facebook</a></li>
            </ul>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav hidden">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-play"></i> 48</a>
                    <ul class="dropdown-menu">
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/view/projects"><i class="fa fa-arrow-left"></i> Back to Projects</a></li>
                <li class="dropdown hidden-xs">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-share-alt"></i> Share</a>
                    <ul class="dropdown-menu">
                        <li><a class="share-page-trigger btn btn-link" data-id="{{record.id}}" data-title="{{record.blogtitle}} {{record.hashtag}}" data-twitter="{{record.twitter}}" data-method="twitter"><i class="fa fa-twitter"></i> Twitter</a></li>
                        <li><a class="share-page-trigger btn btn-link" data-id="{{record.id}}" data-title="{{record.blogtitle}} {{record.hashtag}}" data-twitter="{{record.twitter}}" data-method="facebook"><i class="fa fa-facebook"></i> Facebook</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
</nav>