==
<!-- <link rel="stylesheet" type="text/css" href="css/demo.css" /> -->

		<link rel="stylesheet" type="text/css" href="http://freelabel.net/lvtr/views/scroll/css/component.css" />

		<script src="http://freelabel.net/lvtr/views/scroll/js/modernizr.custom.js"></script>

			<div id="cbp-so-scroller" class="cbp-so-scroller">

				<section class="cbp-so-section">

					<article class="cbp-so-side cbp-so-side-left">

						<p>{% content "brand/whatwedo.htm" %}</p>

					</article>

					<figure class="cbp-so-side cbp-so-side-right">

						<img class="img-responsive" src="http://freelabel.net/dev/storage/app/media/pexels-photo-25877.jpg">

					</figure>

				</section>

				<section class="cbp-so-section">

					<figure class="cbp-so-side cbp-so-side-left">

						<img class="img-responsive" src="http://freelabel.net/dev/storage/app/media/team/mayo/people-party-dancing-music.jpg">

					</figure>

					<article class="cbp-so-side cbp-so-side-right">

						<h2>SOCIAL NETWORK</h2>

						<p>{% content "brand/community.htm" %}</p>

					</article>

				</section>

				<section class="cbp-so-section">

					<article class="cbp-so-side cbp-so-side-left">

						<h2>LIVE RADIO</h2>

						<p>{% content "brand/radio.htm" %}</p>

					</article>

					<figure class="cbp-so-side cbp-so-side-right">

						<img class="img-responsive" src="http://freelabel.net/dev/storage/app/media/pexels-photo-25877.jpg">

					</figure>

				</section>

				<section class="cbp-so-section">

					<figure class="cbp-so-side cbp-so-side-left">

						<img class="img-responsive" src="http://freelabel.net/dev/storage/app/media/pexels-photo-25877.jpg">

					</figure>

					<article class="cbp-so-side cbp-so-side-right">

						<h2>MAGAZINE</h2>

						<p>{% content "brand/magazine.htm" %}</p>

					</article>

				</section>

				<section class="cbp-so-section">

					<article class="cbp-so-side cbp-so-side-left">

						<h2>TV</h2>

						<p>{% content "brand/video.htm" %}</p>

					</article>

					<figure class="cbp-so-side cbp-so-side-right">

						<img class="img-responsive" src="http://freelabel.net/dev/storage/app/media/pexels-photo-25877.jpg">

					</figure>

				</section>

			</div>

		<script src="http://freelabel.net/lvtr/views/scroll/js/classie.js"></script>

		<script src="http://freelabel.net/lvtr/views/scroll/js/cbpScroller.js"></script>

		<script>

			new cbpScroller( document.getElementById( 'cbp-so-scroller' ) );

		</script>