==
<link href="https://blackrockdigital.github.io/startbootstrap-business-frontpage/css/business-frontpage.css" rel="stylesheet">
    <!-- Image Background Page Header -->
    <!-- Note: The background image is set within the business-casual.css file. -->
    <header class="business-header adsfsa" style="background-image:url('{{record.photo | media}}');">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 clearfix">
                    <h1 class="tagline"><span class="pull-left">{{record.name}}</span></h1>
                    <div class="pull-right">
                        <a href="/view/services" class="btn btn-default btn-lg">Back to all</a>
                        <button class="btn btn-primary btn-lg"><span class="pull-right">${{record.price}}</span></button>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container-fluid">

        <hr>

        <div class="row">
            <div class="col-sm-8">
                <h2>What We Do</h2>
                <p class="lead">{{record.description | raw}}</p>
<!--                 <p>
                    <a class="btn btn-success btn-lg" href="http://freelabel.net/view/login/create/?p={{ record.slug }}">Create Profile »</a>
                </p> -->
            </div>
            <div class="col-sm-4">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#myModal">
                  {{ record.modal_button_text |raw }}
                </button>
            </div>
        </div>
        <!-- /.row -->



    </div>
    <!-- /.container -->



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        {% if record.modal_form %}
            {{ record.modal_form | raw}}
        {% else %}
            <div class="sign-up-form container-padded-large"></div>
        {% endif %}
    </div>
  </div>
</div>



<script type="text/javascript">
    
    function registerUser(siteUrl, elem) {
      elem.find('button').addClass('disabled')
      results = $('.login-results');
      var data = elem.serialize();
      var url = siteUrl + 'config/register.php';

      $.post(url , data, function(result){
        results.addClass('label');
        results.addClass('label-warning');
        results.html(result);
        // alert(result);
      });
    }

    $(function() {
        var url = "http://freelabel.net/lvtr/views/create.php";
        var data = {
            path: window.location.pathname

        };
        console.log(data);
        $.get(url, data,  function(result){
            $('.sign-up-form').html(result);
        });
    });
    
</script>