title = "Mag"
url = "/magazine/:page?"
layout = "freelabel400"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 16
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = 404
postPage = "mag/page"
==
{% set posts = blogPosts.posts %}




<ul class="container media-gallery">

    {% for post in posts %}
    
        <div class="col-md-4 media-gallery-item">
            
                <div class="card card-inverse">
                {% if post.featured_images[0].path %}
                  <a href="http://freelabel.net/view/mag/{{ post.slug }}"><img class="card-img" src="{{post.featured_images[0].path}}" alt="{{ post.description }}"></a>
                {% endif %}
                  <div class="card-img-overlay">
                    <h3 class="card-title"><a href="http://freelabel.net/view/mag/{{ post.slug }}">{{ post.title }}</a></h3>
                    <p class="card-text">{{ html_limit( post.summary , 200) }}...</p>
                    <p class="card-text"><small class="text-muted">{{ post.published_at|date('M d, Y') }}</small></p>
                  </div>
                </div>
        </div>
        




        <p class="info hidden">

            Posted

            {% if post.categories.count %} in {% endif %}

            {% for category in post.categories %}

                <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}

            {% endfor %}

            on {{ post.published_at|date('M d, Y') }}

        </p>



        



    {% else %}

        <li class="no-data">{{ noPostsMessage }}</li>

    {% endfor %}

</ul>





{% if posts.lastPage > 1 %}
<div class="container">
    <ul class="pagination">

        {% if posts.currentPage > 1 %}

            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>

        {% endif %}



        {% for page in 1..posts.lastPage %}

            <li class="{{ posts.currentPage == page ? 'active' : null }}">

                <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>

            </li>

        {% endfor %}



        {% if posts.lastPage > posts.currentPage %}

            <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>

        {% endif %}

    </ul>
</div>
{% endif %}